create
compile
train
test
--train-src
data/x_train.txt.${id}
--train-dst
data/y_train.txt.${id}
--validation-src
data/x_val.txt.${id}
--validation-dst
data/y_val.txt.${id}
--test-src
data/x_test.txt.${id}
--test-dst
data/y_test.txt.${id}
--embedding-size
50
--output-embedding-src
embeddings/x_emb.vec.${id}
--output-embedding-dst
embeddings/y_emb.vec.${id}
--layers
2
--max-sentence-length
16
--batch-size
16
--validation-skip
10
--output-fitted-model
fitted/fitted.pkl.${id}
--snapshot-skip
10
--output-snapshot-prefix
snapshots/snapshot.${id}
--lr-both
0.75
--optimizer
adagrad
--log-global
logs/global.log.${id}
--log-info
logs/info.log.${id}
--log-stat
logs/stats.log.${id}
